# Nandland Go Board V1
# iCE40 HX1K – TQ144
# PACKAGE BALL NAMES (nextpnr-compatible)

# 12 MHz onboard oscillator
set_io clk_12mhz A3

# USB-UART (FTDI)
set_io uart_rx   B4
set_io uart_tx   B5

# Push button
set_io btn_trojan A7

# LEDs
set_io led_fault  C5
set_io led_trojan C6
